.cart-images img{
    width: 345px;
    border-radius: 20px;
  }
.carts{
    background-color: #c4c4c4;
    border-radius: 20px;
    
}
.button-container{
    display: flex;
    align-items: center;
}
.button-container h1{
  padding: 0px 15px;
  color: #663399;
}
.btn{
    border: none;
    border-radius: 20px;
    background-color: #c4c4c4;
    color:#663399;
    cursor: pointer;
}
