.random-btn{
    color: #228B22;
    background-color: #c4c4c4;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;

}
.clear-btn{
    color: #8A2BE2;
    background-color: #c4c4c4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.randomItem{
    background-color:darkgray;
    border-radius: 5px;
    

}
